server:
  port: 9090
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8080/.well-known/jwks.json

application:
  authorization-server:
    baseurl: http://localhost:8080